<div class="wrapper">
  <div class="kitchen">
    <div class="materials">
      <div class="info">Materials, please click to add to the pot</div>
      <div >
        <button class="btn-sm" *ngFor="let material of materials"
                (click)="addMaterials(material)">{{material}}</button>
      </div>
    </div>
    <div class="pot">This is a pot, please click to remove any materials
      <div >
        <button class="btn-sm" *ngFor="let addedMaterial of addedMaterials"
                (click)="removeMaterials(addedMaterial)">{{addedMaterial}}</button>
      </div>

    </div>
    <div>
    </div>
    <div class="product">
      <div>  <button type="button" class="btn btn btn-success" (click)="checkRecipe()">Start cooking</button>
        <button type="button" class="btn btn btn-warning" (click)="reset()">Clear</button>

      </div ><div id ="message" class="alert alert-primary">{{message}}</div></div>


  </div>
</div>
